# Web Server & Core
Flask==3.0.3
Werkzeug==3.0.3
flask-socketio==5.3.6
eventlet==0.33.3
Jinja2>=3.1.2
blinker>=1.6.2
itsdangerous>=2.1.2

# AI & Processing
spleeter==2.4.0
typer==0.9.0
click==8.1.7
pandas==1.5.3
numpy==1.23.5
tensorflow==2.9.3

# Database & Misc
pymongo==4.6.2
